$custom-primary:#2E2F31;
$gradient-primary: linear-gradient(to right, #029BDD , #2E5099);
$custom-light-gray: #E9EDF4;
$custom-gray: rgb(164, 167, 167);
$custom-green: #27AE60;
$custom-light-blue: #009ddf;
