@import './custom-colors';

.form {
  display: flex;
  flex-direction: column;

  .form-content {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
  
    label {
      color: $custom-primary;
      font-size: 1.5em;
      margin-bottom: 10px;
    }
  
    select {
      background: none;
      border: 1px solid $custom-primary;
      border-radius: 4px;
      color: $custom-gray;
      cursor: pointer;
      font-size: 1em;
      margin-bottom: 20px;
      padding: 10px;
      text-transform: uppercase;
    }
  
    select:hover {
      color: $custom-primary;
      transition: 0.3s;
    }
  
  }
  
  .btn {
    align-self: center;
    border: none;
    background: $custom-green;
    box-shadow: inset 0px -3px 3px rgb(54, 95, 58);
    border-radius: 4px;
    color: $custom-light-gray;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    margin: 30px 0;
    padding: 10px 20px;
    text-shadow: 0px 1px 3px #003d08;
    text-transform: uppercase;
    width: 150px;
  }
  
  .btn:hover {
    background:rgb(36, 160, 88);
    transition: 0.3s;
  }

  @media (min-width: 767.98px) {
    .form-content {
      margin: 0 auto;
      width: calc(767.98px - 20px);
    }
  }
}
