@import './reset.scss';

* {
	box-sizing: border-box;
	font-family: 'Saira', sans-serif;
}

.container {
	margin: 0 auto;
	padding: 0 20px;
}


// // @media only screen and (min-width: 768px) and (max-width: 959px) {
// //   .container {
// //     width: 768px;
// //   }
// // }

// // @media only screen and (max-width: 767px) {
// //   .container {
// //     width: 300px;
// //   }
// // }
