@import './custom-colors';

.header {
  background-image: $gradient-primary;
  box-shadow: inset 0px -3px 3px rgb(35, 61, 117);
  color: $custom-light-gray;
  padding: 130px 0;
  text-align: center;

  h1 {
    font-size: 2.5em;
    text-shadow: 0px 3px 2px rgb(10, 35, 59);
  }

  h1::after {
    content: '';
    display: block;
    width: 150px;
    height: 1px;
    background: $custom-light-gray;
    margin: 5px auto;
  }

  p {
    font-size: 1em;
    text-shadow: 0px 2px 1px rgb(10, 35, 59);
  }
}
