@import './custom-colors';

.information {
  color: $custom-light-blue;
  font-size: 1em;
  font-weight: 500;
  padding: 30px 0;

}

@media (min-width: 767.98px) {
  .information {
    margin: 0 auto;
    text-align: center;
    width: calc(767.98px - 20px);
  }
}
